
{{input value=search.filter.officialTitle placeholder='Filter by Title'}}

{{#power-select-multiple options=search.phaseOptions selected=search.filter.selectedPhases placeholder=" Filter by Phase" onchange=(action (mut search.filter.selectedPhases )) as |phase|}}
  {{phase}}
{{/power-select-multiple}}

{{!-- triggers list-filter searchStudies action --}}
<button class='btn btn-primary' {{action 'searchStudies' true true}}> Search </button>

<div class='page-links'>

  <div class= 'page-results'>
      {{#power-select searchEnabled=false options=search.perPage selected=search.filter.per_page onchange= (action (mut search.filter.per_page )) as |pagesize|}}
        {{pagesize}}
      {{/power-select}}
    </div>
  <button {{action 'previous' }}> Previous </button>

    {{#each nextTenPages as |page|}}
      <button {{action 'pageLink' page }}> {{page}} </button>
    {{/each}}
  <button  {{action 'next' }}> Next </button>
  <p> Page {{search.filter.page}} of {{totalPages}} </p>

</div>

{{yield results}}
