{{!-- study component hbs --}}
<h1>{{study.officialTitle}}</h1>

<table class='table table-dark'>
  <thead {{action 'toggleHidden'}}>
    <tr>
      <th scope="col" colspan='2'><h3>General Info</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Type</th>
      <td>{{study.studyType}}</td>
    </tr>
    <tr>
      <th scope="row">Phase</th>
      <td>{{study.phase}}</td>
    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{study.overallStatus}}</td>
    </tr>
    <tr>
      <th scope="row">Enrollment</th>
      <td>{{study.enrollment}}</td>
    </tr>
    <tr>
      <th scope="row">Enrollment Type</th>
      <td>{{study.enrollmentType}}</td>
    </tr>
    <tr>
      <th scope="row">Source</th>
      <td>{{study.source}}</td>
    </tr>
    <tr>
      <th scope="row">FDA Regulated Drug</th>
      <td>{{study.isFdaRegulatedDrug}}</td>
    </tr>
    <tr>
      <th scope="row">FDA Regulated Device</th>
      <td>{{study.isFdaRegulatedDevice}}</td>
    </tr>
    <tr>
      <th scope="row">Target Duration</th>
      <td>{{study.targetDuration}}</td>
    </tr>
    <tr>
      <th scope="row">Primary Completion Date</th>
      <td>{{study.primaryCompletionDate}}</td>
    </tr>
    <tr>
      <th scope="row">Baseline Population</th>
      <td>{{study.baselinePopulation}}</td>
    </tr>
    <tr>
      <th scope="row">Processed</th>
      <td>{{study.nlmDownloadDateDescription}}</td>
    </tr>
  </tbody>
</table>

{{#each study.responsibleParty as |party|}}
{{#if party.name}}
<table class='table table-dark'>
  <thead>
    <tr>
      <th scope="col" colspan='2'><h3>Responsible Party</h3></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td>{{party.name}}</td>
    </tr>
    <tr>
      <th scope="row">Party Type</th>
      <td>{{party.responsiblePartyType}}</td>
    </tr>
    <tr>
      <th scope="row">Title</th>
      <td>{{party.title}}</td>
    </tr>
    <tr>
      <th scope="row">Organization</th>
      <td>{{party.organization}}</td>
    </tr>
    <tr>
      <th scope="row">Affiliation</th>
      <td>{{party.affiliation}}</td>
    </tr>
  </tbody>
</table>
{{/if}}
{{/each}}
