
<div class='records'>
<h1> Studies </h1>
{{input placeholder='Search By Title' value=title}}

{{#power-select-multiple options=phaseOptions selected=phaseSelect placeholder=" Filter by Phase" onchange=(action (mut phaseSelect )) as |phase|}}
  {{phase}}
{{/power-select-multiple}}


<button class='btn btn-primary' {{action 'searchStudies' title phaseSelect }}> Search</button>

<table>
  {{#each model as |study|}}
  <tr>
    <td> {{study.officialTitle}}</td>
    <td> {{#link-to 'study' study.id}} View {{/link-to}} </td>
  </tr>
{{/each}}

</table>


{{page-numbers content=content}}


</div>
